python-dotenv==1.0.1
pyyaml==6.0.2
langchain-google-genai==2.1.0
langgraph==0.3.18
langgraph-checkpoint==2.0.21
langgraph-checkpoint-sqlite==2.0.6
flask==3.1.0
markdown==3.7
bleach==6.2.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.165.0
